body{
    background-image: url("../assets/images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    height: 100vh;
    /*cursor: url('../assets/images.crosshair.png');*/
}

.target-image {
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: 10;
}

.rotationLeft {
    animation: rotationLeft 2s infinite linear;
}

@keyframes rotationLeft {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.rotationRight {
    animation: rotationRight 2s infinite linear;
}

@keyframes rotationRight {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-359deg);
    }
}