body {
    background-color: black;
    color: white;
}

.intro {
    border: 1px solid white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px 100px;
}

button {
    padding: 10px;
    display: flex;
    margin: auto;
    border: 1px solid white;
    border-radius: 10px;
    background-color: black;
    color: white;
}

h1, h2 {
    padding: 0;
}